@import 'variables'
@import 'normalize'
@import 'interface'
@import 'grid'
@import 'templates/header'
@import 'templates/hero'

*, *:before, *after
    box-sizing: border-box

body
    font-family: 'Comfortaa', cursive
    font-size: 14px
    font-weight: 500