.header
    background-color: $top
    padding: 24px 0
.menu
    display: flex
    justify-content: space-between
    align-items: center
.nav
    &__item
        text-decoration: none
        color: $dark
        margin-right: 40px
        transition: color 0.5s
        &:hover
            color: $green

.phone 
    color: $dark
    text-decoration: none
  
.contacts
    &__phone
        margin-right: 45px
        