.header
    background-color: $top
    padding: 24px 0
.menu
    display: flex
    justify-content: space-between
    align-items: center
.nav
    &__item
        text-decoration: none
        color: $light
        text-transform: uppercase
        margin-right: 40px
.phone 
    color: $light
    text-decoration: none
.contacts
    &__phone
        margin-right: 45px
        