.hero
    position: relative
    display: flex
    flex-direction: column
    justify-content: center
    background: url('../img/hero/hero.jpg') no-repeat center / cover
    height: 100vh
    &__content
        max-width: 670px
    &__text
        font-size: 22px
        max-width: 500px
    &__button
        margin-right: 20px    
.title 
    margin: 0
    font-size: 40px
    font-weight: 500
    text-transform: uppercase